[submodule "Setup"]
	path = Setup
	url = https://github.com/GabrielFrigo4/setup.git
[submodule "Shell"]
	path = Shell
	url = https://github.com/GabrielFrigo4/shell.git
[submodule "Profile"]
	path = Profile
	url = https://github.com/GabrielFrigo4/profile.git
[submodule "Editor/Emacs"]
	path = Editor/Emacs
	url = https://github.com/GabrielFrigo4/.emacs.d
[submodule "Editor/Helix"]
	path = Editor/Helix
	url = https://github.com/GabrielFrigo4/helix
[submodule "Editor/NeoVim"]
	path = Editor/NeoVim
	url = https://github.com/GabrielFrigo4/nvim
[submodule "Editor/Vim"]
	path = Editor/Vim
	url = https://github.com/GabrielFrigo4/vimfiles
